<!DOCTYPE html>
<html>
<link rel="shortcut icon" type="image/x-icon" href="/static/img/icon2.png" />
<title>EXPRESSICON</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url("{{ url_for('video_feed') }}");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
  	<img src='/static/img/icon2.png' />
    EXPRESSICON
  </div>
  
  <div class="w3-display-bottomleft w3-padding-large">
    Developed by Muskan Garg
  </div>
</div>
</body>
</html>

